---
layout: default
---

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>


<body>
</body>
</html>


<head>
  <style>
    td {
      padding-left: 8px;
    }
    .fa{
      /* Adjust these values accordingly */
      style="height: 27px"
      padding-right: 8px;
    }
    .button{
        padding-right: 8px;
    }
  </style>
</head>


<body>

<div class="uk-section section-hero .uk-width-1-1"  data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; repeat: true">
    <div class="uk-container uk-container-small">
        {% if page.index.image %}
        <p class="hero-image uk-text-center"><img src="{{ site.post_assets | absolute_url }}{{ page.index.image }}" alt="Hero"></p>
        {% endif %}
        <h2 class="uk-heading-hero uk-text-center uk-margin-remove-top uk-margin-remove-bottom " >{{ page.index.title }}</h2>

         {% if page.index.subtitle %}<p class="subtitle uk-text-lead uk-text-center">{{ page.index.subtitle }}</p>
            {% endif %}
</div>
</div>

<br>
<br>


<article class="uk-article">


<div class="uk-section-muted uk-padding-large">
<div class="uk-container uk-container-small">


<a class="uk-button uk-button-default" class="uk-align-center" onclick="onlyprint();">PRINT THE SYLLABUS</a>

  
  <h2></a> Program Info </h2> 

  
<table id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>

{% if page.info.program_title %}
<tr>
<td>Program Title </td>
  <td> <b><a onclick="location.href='{{ page.info.program_website }}'">{{page.info.program_title}}</a></b> </td>
</tr>
{% endif %}
  
</tbody>
</table>
  
  

<h2></a> Course Info </h2> 

  
<table id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>


  
  
{% if page.info.course_title %}
<tr>
<td>Course Title</td>
<td> <b><a onclick="location.href='{{ page.info.course_website }}'">{{page.info.course_title}}</a></b> </td>
</tr>
{% endif %}


{% if page.info.course_number %}
<tr>
<td>Course Number</td>
<td><b> {{page.info.course_number}} </b></td>
</tr>
{% endif %}

{% if page.info.course_website %}
<tr>
<td>Canvas Shell</td>
<td><b> {{page.info.course_website}} </b></td>
</tr>
{% endif %}
  
  
{% if page.info.course_level %}
<tr>
<td> Course Level </td>
<td><b> {{page.info.course_level}} </b></td>
</tr>
{% endif %}

{% if page.info.course_webpage %}
<tr>
<td>Course Webpage</td>
<td><b> {{page.info.course_webpage}} </b></td>
</tr>
{% endif %}

{% if page.info.course_start_end_dates %}
<tr>
<td> Course Start-End </td>
<td><b> {{page.info.course_start_end_dates }} </b></td>
</tr>
{% endif %}

{% if page.info.course_prerequisites %}
<tr>
<td>Course Prerequisites</td>
<td><b> {{page.info.course_prerequisites }} </b></td>
</tr>
{% endif %}

{% if page.info.class_meets_when %}
<tr>
<td>Class Meeting Times</td>
<td><b> {{page.info.class_meets_when }} </b></td>
</tr>
{% endif %}

{% if page.info.class_meets_where %}
<tr>
<td>Class Location</td>
<td><b> {{page.info.class_meets_where }} </b></td>
</tr>
{% endif %}
  
</tbody>
</table>

<br>




<h2> Course Instructors </h2>

<table id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>


{% for item in page.instructor %}

<tr>
<td><a href="{{item.webpage_url}}">{{item.name}}</a></td>
<td>{{item.title}}</td>
<td>{{item.phone}}</td>
<td> <a href="mailto:{{item.email}}" title="email"><i id="fa-icon" class="fa fa-envelope fa-2x" ></i></a> </td>

{% if item.github_url %}
<td> <a href="{{item.github_url}}" title="github"><i id="fa-icon" class="fab fa-github fa-2x" "></i></a> </td>
{% endif %}

{% if item.twitter_url %}
<td>
 <a href="{{item.twitter_url}}" title="twitter"><i id="fa-icon" class="fab fa-twitter fa-2x"></i></a> 
</td>
{% endif %}

{% if item.scholar_url %}
<td>
 <a href="{{item.scholar_url}}" title="scholar"><i id="fa-icon" class="fa fa-graduation-cap fa-2x" ></i></a> 
</td>
{% endif %}


{% if item.linked_in_url %}
<td>
 <a href="{{item.linked_in_url}}" title="linkedin"><i id="fa-icon" class="fab fa-linkedin fa-2x" ></i></a> 
</td>
{% endif %}
</tr>

{% if item.office_location %}
<tr>
  <td>Office Location:</td>
  <td> {{item.office_location }} </td>
</tr>
{% endif %} 
  
  
{% endfor %}

</tbody>
</table>

<br>




<h2> Office Hours </h2>

<table id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>

{% for item in page.instructor %}
<tr>
<td>{{item.name}}</td>
<td>{{item.office_hours_time}}</td>
<td>{{item.office_hours_location}}</td>
<td>
  <a class="uk-button uk-button-default uk-button-small" class="uk-align-center" onclick="location.href='{{ item.office_hours_app_url }}'" target="_blank">SCHEDULE</a>
</td>
</tr> 
{% endfor %}
  
</tbody>
</table>

<br>


<h2> Lab Sessions </h2>

<table id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>
  
{% if page.info.review_sessions_when %}
<tr>
<td>Discussion Session Time</td>
<td><b> {{page.info.review_sessions_when }} </b></td>
</tr>
{% endif %}

{% if page.info.review_sessions_where %}
<tr>
<td>Discussion Session Location</td>
<td><b> {{page.info.review_sessions_where }} </b></td>
</tr>
{% endif %}  
 
{% if page.info.discussion_board_url %}  
<tr>
<td>Assignment Discussion Board</td>
<td>
  <a class="uk-button uk-button-default uk-button-small" class="uk-align-center" onclick="location.href='{{page.info.discussion_board_url}}'" target="_blank">SUBMIT A QUESTION</a>
</td>
</tr>
{% endif %} 
  
</tbody>
</table>

<br>

 

  

<h2> Textbooks </h2>

<table  id="index" class="table table-condensed" cellspacing="10">
<thead>
<tr>
<th><span></span></th>
<th><span></span></th>
</tr>
</thead>

<tbody>
{% for item in page.textbooks %}
<tr align="left">
<td align="left"><a onclick="location.href='{{ item.link }}'"> <i id="fa-icon" class="fas fa-book-open fa-2x"></i></a></td>
<td align="left"><a href='{{ item.link }}'>{{ item.title }}</a></td>
  
{% if item.authors %}
  <td>{{item.authors}}</td>
{% endif %}
  
{% if item.edition %}
  <td>{{item.edition}}</td>
{% endif %}
  
{% if item.required %}
  <td><i>{{item.required}}</i></td>
{% endif %}
  
</tr>
{% endfor %}
</tbody>
</table>

<br>



</div>
</div>




<div class="uk-section uk-padding-large">
<div class="uk-container-small">

{{content}}

<br>
<br>

</div>
</div>

</article>


</body>
</html>



<script>
  function onlyprint(){
            var div = document.getElementsByTagName("article")[0];
            var t = document.getElementsByTagName('');
            var divC = document.getElementsByTagName("article")[0].cloneNode(true);

            var secs = divC.getElementsByTagName("section");

            for(var j=0;j<secs.length-1;j++){
              var hr = document.createElement("hr");
             secs[j].appendChild(hr);
              var h1 = secs[j].getElementsByTagName("h1");
              (h1[0]).setAttribute();
              h1[0].appendChild(hr);
            }
            divC.setAttribute("display","block");
            var divContents = "<br>"+divC.innerHTML;
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>Course Syllabus</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }

</script>
